:root {
  --imperial-red: #e63946;
  --honey-dew: #f1faee;
  --powder-blue: #a8dadc;
  --celadon-blue: #457b9d;
  --prussian-blue: #1d3557;
}

* {
  font-family: 'Chivo', sans-serif;
}

html,
body {
  background-color: var(--honey-dew);
}

.center {
  height: 90vh; /* Magic here */
  display: flex;
  justify-content: center;
  align-items: center;
}

.formSize {
  height: 794px;
}

.radius {
  border-radius: 15px;
}

.color-imperial-red {
  color: var(--imperial-red);
}

.color-celadon-blue {
  color: var(--celadon-blue);
}

.color-prussian-blue {
  color: var(--prussian-blue);
}

.color-powder-blue {
  color: var(--powder-blue);
}

.color-honey-dew {
  color: var(--honey-dew);
}

.input-center {
  display: block;
  margin: auto;
}
