:root {
  --imperial-red: #e63946;
  --honey-dew: #f1faee;
  --powder-blue: #a8dadc;
  --celadon-blue: #457b9d;
  --prussian-blue: #1d3557;
}

* {
  font-family: 'Chivo', sans-serif;
}

html,
body {
  background-color: var(--honey-dew);
  height: 100vh;
}

.center {
  height: 100vh; /* Magic here */
  display: flex;
  justify-content: center;
  align-items: center;
}

.formSize {
  height: 794px;
}
