:root {
  --imperial-red: #e63946;
  --honey-dew: #f1faee;
  --powder-blue: #a8dadc;
  --celadon-blue: #457b9d;
  --prussian-blue: #1d3557;
}

* {
  font-family: 'Chivo', sans-serif;
}

html,
body {
  background-color: var(--honey-dew);
}

.color-imperial-red {
  color: var(--imperial-red);
}

.color-celadon-blue {
  color: var(--celadon-blue);
}

.color-prussian-blue {
  color: var(--prussian-blue);
}

.color-powder-blue {
  color: var(--powder-blue);
}

.color-honey-dew {
  color: var(--honey-dew);
}

.bg-color-celadon-blue {
  background-color: var(--celadon-blue);
}

.btn-hover:hover {
  background-color: var(--powder-blue);
}

/* Login + Sign In */
.background-style {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-style {
  background-color: white;
  width: 900px;
  height: 600px;
  border-radius: 10px;
  margin: 0 auto;
}

/* Forms */
.input-center {
  display: block;
  margin: auto;
}

/* Post Form */
textarea {
  resize: none;
}

/* Decorations */
.decoration-thickness {
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: var(--imperial-red);
}

/* Media Queries */
